body {
  font-family: Arial;
  background-color: black;
}
form {
  margin: 0 auto;
  width: 400px;
  padding: 2em;
  border: 10px double gray;
  border-radius: 1em;
}
form div + div {
  margin-top: 1em;
  display: inline-block;
}
label {
  display: inline-block;
  width: 100px;
  text-align: center;
}
.entrada {
  color: white;
  font-size: medium;
}
botom {
  margin-left: 50px;
  
}
.botom {
  padding-left: 50px;
  width: auto;
  height:auto;
}

